.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fullscreen__content {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullscreen h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    color: var(--white);
    text-shadow: 0 0 10px #000;
}

.fullscreen .fullscreen__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.fullscreen .fullscreen__media video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.fullscreen .fullscreen__media::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(81, 162, 255, .2);
    z-index: 2;
}