.tourney-app-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.tourney-app-form__content {
    padding: 32px 48px;
    border-radius: 15px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    position: relative;
    z-index: 1;
}
.krip-img {
    height: 200px;
    position: absolute;
    bottom: 0;
    left: -150px;
    z-index: 2;
}

.ursa-img {
    height: 200px;
    position: absolute;
    top: -175px;
    right: -55px;
}