html {
    scroll-behavior: smooth;
}

body {
    background: var(--white);
    color: var(--black);
    font-family: "Nunito", sans-serif;
}

a {
   font-family: "Roboto", sans-serif; 
}

a {
    font-weight: 700;
}

a:hover {
    color: var(--blue);
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.link--social {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid var(--gray);
    transition: var(--transition);
}

.link--social:hover {
    background: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
    transition: var(--transition);
}

.container {
    max-width: 1440px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}

.logo-main {
    font-family: "Nunito", sans-serif;
    color: var(--white);
    margin-right: 60px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}

.logo-main:hover {
    color: var(--white);
}

.logo-main span {
    background: var(--blue);
    border-radius: 30px;
    padding: 2px 10px;
}

/* TODO вынести в отдельный файл для текста стили */
h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

input {
    border: 2px solid var(--blue);
    /* background: var(--blue); */
    color: var(--blue);
    border-radius: 8px;
    padding: 10px 20px;
    outline: none;
}